@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,900);
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.border {
  border: 1px solid red;
}

/* == HEADER == */
header .background-1 {
  background-image: url("https://image.ibb.co/hWifRb/background_1_overlay.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

header .menu {
  display: flex;
  justify-content: flex-start;
}

header .logo {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

header ul {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  list-style-type: none;
}

header li {
  padding-right: 20px;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0px;
  color: #FFFFFF;
  transition: color 0.2s linear;
}

header a:hover {
  color: #22BAC5;
}

header .slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  padding: 0vh 5vw 0vh 5vw;
}

header .slogan span {
  color: #22BAC5;
  letter-spacing: -3px;
  font-weight: 300;
}

header .slogan h1, header .slogan p {
  text-align: center;
  color: #FFFFFF;
}

header .slogan h1 {
  font-size: 30px;
  font-weight: 700;
}

header .slogan p {
  font-size: 14px;
  font-weight: 300;
}

header .jumbotron-button {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

header .jumbotron-button button {
  padding: 15px 40px;
  font-size: 16px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s linear;
}

header .jumbotron-button button:hover {
  color: #22BAC5;
  border: 1px solid #22BAC5;
}

header .jumbotron-circles {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

header .jumbotron-circles .circle {
  margin-left: 5px;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  transition: all 0.2s linear;
}

header .jumbotron-circles .circle:hover {
  border: 1px solid #22BAC5;
  background-color: #22BAC5;
}

/* == STORY == */
.story {
  display: flex;
  height: 100vh;
  align-items: center;
}

.story .big-logo {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  align-items: right;
}

.story .story-text {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: flex-start;
  align-items: left;
}

.story .story-text h2, .story .story-text p {
  text-align: left;
  padding-left: 15px;
}

.story .story-text h2 {
  text-transform: uppercase;
  font-size: 28px;
  margin: 0;
}

.story .story-text p {
  font-size: 14px;
  margin: 5vh 0 0 0;
}

.story .story-text button {
  margin-left: 15px;
  margin-top: 5vh;
  padding: 10px 30px;
  background-color: none;
  font-size: 14px;
  color: #000000;
  border: 1px solid #000000;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s linear;
}

.story .story-text button:hover {
  color: #22BAC5;
  border: 1px solid #22BAC5;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://image.ibb.co/kBzUmb/background_2_overlay.jpg");
  background-size: cover;
  background-position: center;
}

.video button {
  padding: 10px 30px;
  background-color: none;
  font-size: 72px;
  color: #FFFFFF;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-weight: 300;
  transition: 0.2s linear;
}

.video button:hover {
  color: #22BAC5;
}

.video button:hover + p {
  color: #22BAC5;
  transition: 0.2s linear;
}

.video p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  transition: 0.2s linear;
}

/* == ICONS == */
.expertise {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 5vh 0;
}

.expertise .expertise-header {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.expertise .expertise-header h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  margin: 0 auto;
}

.expertise .expertise-header p {
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}

.expertise .expertise-header span {
  color: #22BAC5;
  letter-spacing: -3px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

.expertise .icon-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.expertise .icon-row .icon-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 5vh;
  flex: 33.3%;
}

.expertise .icon-row .icon-wrapper .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.expertise .icon-row .icon-wrapper .icon button {
  color: #000000;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 300;
  transition: 0.2s linear;
}

.expertise .icon-row .icon-wrapper .icon button:hover {
  color: #22BAC5;
  transition: 0.2s linear;
}

.expertise .icon-row .icon-wrapper .icon button:hover + h2 {
  color: #22BAC5;
  transition: 0.2s linear;
}

.expertise .icon-row .icon-wrapper .icon h2 + p {
  text-align: center;
}

.expertise .icon-row .icon-wrapper .icon h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
  transition: 0.2s linear;
}

.expertise .icon-row .icon-wrapper .icon p {
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0;
}

/* == TEAM == */
.team-background {
  background-image: url("https://image.ibb.co/hWifRb/background_1_overlay.jpg");
  background-size: cover;
  background-position: center;
}

.team-background .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 5vh 0;
}

.team-background .team .team-header {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.team-background .team .team-header h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  margin: 0 auto;
  color: #FFFFFF;
}

.team-background .team .team-header p {
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}

.team-background .team .team-header span {
  color: #22BAC5;
  letter-spacing: -3px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

.team-background .team .team-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.team-background .team .team-row .profile-wrapper {
  display: flex;
  flex: 25%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.team-background .team .team-row .profile-wrapper .profile-border {
  border: 1px solid #FFFFFF;
}

.team-background .team .team-row .profile-wrapper .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: calc(100% - 40px);
  padding-bottom: 10px;
}

.team-background .team .team-row .profile-wrapper .profile .profile-picture {
  width: 100%;
  height: 200px;
  background-color: white;
}

.team-background .team .team-row .profile-wrapper .profile h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
}

.team-background .team .team-row .profile-wrapper .profile p {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}

.team-background .team .team-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
}

.team-background .team .team-footer p {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 10px;
}

.team-background .team .team-footer button {
  margin-left: 15px;
  padding: 10px 30px;
  background-color: none;
  font-size: 14px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.2s linear;
}

.team-background .team .team-footer button:hover {
  color: #22BAC5;
  border: 1px solid #22BAC5;
  transition: 0.2s linear;
}

/* == GALLERY == */
.gallery-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery-wrapper .gallery-header {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}

.gallery-wrapper .gallery-header .text-bold {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.gallery-wrapper .gallery-header .text-bold p {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.gallery-wrapper .gallery-header .text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.gallery-wrapper .gallery-header .text p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  transition: 0.2s linear;
  cursor: pointer;
}

.gallery-wrapper .gallery-header .text p:hover {
  color: #22BAC5;
  transition: 0.2s linear;
}

.gallery-wrapper .gallery-header .text p span {
  font-weight: 700;
}

.gallery-wrapper .gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
  flex-wrap: wrap;
}

.gallery-wrapper .gallery .gallery-picture {
  display: flex;
  flex: 16.6%;
  height: 170px;
  width: 100%;
  transition: 0.2s linear;
}

.gallery-wrapper .gallery .gallery-picture:hover {
  opacity: 0.7;
  transition: 0.2s linear;
}

.gallery-wrapper .gallery .picture-1 {
  background-color: #7b7b7b;
}

.gallery-wrapper .gallery .picture-2 {
  background-color: #b8b8b8;
}

.gallery-wrapper button {
  margin-top: 5vh;
  padding: 10px 30px;
  background-color: none;
  font-size: 14px;
  color: #000000;
  border: 1px solid #000000;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.2s linear;
}

.gallery-wrapper button:hover {
  color: #22BAC5;
  border: 1px solid #22BAC5;
  transition: 0.2s linear;
}

/* == QUOTE == */
.quote-background {
  background-image: url("https://image.ibb.co/hWifRb/background_1_overlay.jpg");
  background-size: cover;
  background-position: center;
}

.quote-background .quote-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-background .quote-wrapper .quote-mark {
  margin-top: 5vh;
}

.quote-background .quote-wrapper .quote-mark i {
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 700;
}

.quote-background .quote {
  margin-top: 5vh;
}

.quote-background .quote p {
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 400;
}

.quote-background .quote-author {
  margin-top: 5vh;
}

.quote-background .quote-author p {
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
}

.quote-background .quote-author p span {
  font-weight: 400;
}

.quote-background .quote-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.quote-background .quote-carousel p {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.2s linear;
  cursor: pointer;
  margin: 0 10px;
}

.quote-background .quote-carousel p:hover {
  color: #22BAC5;
  transition: 0.2s linear;
}

.quote-background .quote-carousel .picture {
  margin: 0 10px;
  height: 40px;
  width: 40px;
  background-color: #FFFFFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  transition: 0.2s linear;
  cursor: pointer;
}

.quote-background .quote-carousel .picture:hover {
  background-color: #22BAC5;
  transition: 0.2s linear;
}

/* == CONTACT == */
.contact {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact .contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.contact .contact-wrapper .contact-title p {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.contact .contact-wrapper .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 100%;
}

.contact .contact-wrapper .contact-form .field-wrap {
  display: flex;
  flex: 100%;
}

.contact .contact-wrapper button {
  margin-top: 5vh;
  padding: 10px 30px;
  background-color: none;
  font-size: 14px;
  color: #000000;
  border: 1px solid #000000;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.2s linear;
}

.contact .contact-wrapper button:hover {
  color: #22BAC5;
  border: 1px solid #22BAC5;
  transition: 0.2s linear;
}

.contact .clients-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.contact .clients-wrapper .clients-title p {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

/* == FOOTER == */
.footer-background {
  background-image: url("https://image.ibb.co/hWifRb/background_1_overlay.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.footer-background .footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-background .footer-wrapper .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-background .footer-wrapper .footer-content .footer-element {
  display: flex;
  flex: 33.3%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-background .footer-wrapper .footer-content .footer-element .element-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer-background .footer-wrapper .footer-content .footer-element .social-media-buttons .icon-btn {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}

.footer-background .footer-wrapper .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 100%;
}

.footer-background .footer-wrapper .footer-bottom .footer-contact {
  display: flex;
  justify-content: flex-start;
}

.footer-background .footer-wrapper .footer-bottom .footer-contact ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.footer-background .footer-wrapper .footer-bottom .footer-contact a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0px;
  color: #FFFFFF;
  transition: color 0.2s linear;
}

.footer-background .footer-wrapper .footer-bottom .footer-contact a:hover {
  color: #22BAC5;
}
